

<% content_for :extra_head do %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <% end %>
  
  <body class="calendars">
    <div class="header-right">
      <!-- 管理者専用ボタンを追加 -->
      <button class="admin-button" id="admin-button">管理者専用</button>
    </div>

    <!-- ポップアップ用のダイアログ -->
    <div id="password-dialog" title="パスワード入力" style="display: none;">
      <%= form_tag('/login', id: 'password-form') do %>
        <!-- CSRFトークンをフォームに含める -->
        <%= csrf_meta_tags %>
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" autocomplete="off">
        <button type="submit" class="btn btn-primary">送信</button>
      <% end %>
    </div>

    <!-- この部分は見出しとして単独で -->
    <h1>RRite_予定表</h1>
    
    <!-- それ以外の説明やガイドはdivタグで囲む -->
    <div class="guide-wrapper">
      <div class="guide-content">
        ■ご利用方法<br>
        １．以下のカレンダー画面より、”空き”情報をご確認ください。<br>
        ２．ご予約したい”空き”情報をクリック選択してください。<br>
        ３．ご予約フォームより、必要項目を入力してください。<br>
        ４．ご予約フォームより、”予約する”ボタンを押してください。<br><br>
        以上で完了となります。<br>
        担当者より、後日ご連絡をいたしますので、お待ちください。<br><br>
        <u>※ 直接ご連絡いただいてもご予約は可能となります。</u>
      </div>
      <div class="guide-example">
        <span>"空き情報"例</span><br>
        <a class="reservation-info empty-reservation"><u>1:15 空き</u></a>
      </div>
    </div>
    

    <div class="navigation">
    <!-- 前月へのリンク。5ヶ月以上前の日付にはリンクを表示しない -->
    <% if @current_month + 5.month >= Date.today.beginning_of_month %>
      <%= link_to '＜', calendars_path(month: @current_month.prev_month), class: 'prev-month' %>
    <% else %>
      <%= '－' %>
    <% end %>
  
    <!-- 当月へのリンク -->
    <%= link_to '当月', calendars_path(month: Date.today.month), class: 'current-month' %>
  
    <!-- 次月へのリンク。5ヶ月以上先の日付にはリンクを表示しない -->
    <% if @current_month - 5.month <= Date.today.end_of_month %>
      <%= link_to '＞', calendars_path(month: @current_month.next_month) %>
    <% else %>
      <%= '－' %>
    <% end %>
  </div>
  