<!DOCTYPE html>
<html>
<head>
  <title>RRite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= yield :extra_head %>
</head>
<body>
<header class="container mt-4 mb-4">
 <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=990dmxet">
  <%= image_tag 'render.png', class: 'mw-100' %>
 </a>
</header>
<%= yield %>
</body>
</html>
